<br><br><br>
<div class="container">
  <h1 class="mt-3">Add Mehaic</h1>
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Mehanic Name</label>
        <input type="text" 
         id="mechanic_name" 
         class="form-control" 
         name="mechanic_name"
         [(ngModel)]="model.mechanic_name">
      </div>
    </div>

    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Mehanic Surname</label>
        <input type="text" 
         id="mechanic_surname" 
         class="form-control" 
         name="mechanic_surname"
        [(ngModel)]="model.mechanic_surname">
      </div>
    </div>

    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Mechanic ShopName</label>
        <input type="text" 
         id="mechanic_shop_name" 
         class="form-control" 
         name="mechanic_shop_name"
         [(ngModel)]="model.mechanic_shop_name">
      </div>
    </div>


    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Mechanic Type</label>
        <input type="text" 
         id="mechanic_type" 
         class="form-control" 
         name="mechanic_type"
         [(ngModel)]="model.mechanic_type">
      </div>
    </div>


    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Location</label>
        <input type="text" 
         id="location" 
         class="form-control" 
         name="location"
         [(ngModel)]="model.location">
      </div>
    </div>


    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">IsLoggedIn</label>
        <input type="text" 
         id="is_logged_in" 
         class="form-control" 
         name="is_logged_in"
         [(ngModel)]="model.is_logged_in">
      </div>
    </div>


    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Rating</label>
        <input type="text" 
         id="rating" 
         class="form-control" 
         name="rating"
         [(ngModel)]="model.rating">
      </div>
    </div>

    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Review Count</label>
        <input type="text" 
         id="review_count" 
         class="form-control" 
         name="review_count"
         [(ngModel)]="model.review_count">
      </div>
    </div>


    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Working Hours</label>
        <input type="text" 
         id="working_hours" 
         class="form-control" 
         name="working_hours"
         [(ngModel)]="model.working_hours">
      </div>
    </div>

    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Services Offered</label>
        <input type="text"
         id="services_offered" 
         class="form-control" 
         name="services_offered"
         [(ngModel)]="model.services_offered">
      </div>
    </div>
    
    <div class="mt-">
      <div class="mt-2">
        <label class="form-label">Profile Created At</label>
        <input type="text"
         id="profile_created_at"
         class="form-control"
         name="profile_created_at"
         [(ngModel)]="model.profile_created_at">
      </div>
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Save</button>
     </div>
  </form>
</div>