category-list.component.html


<div class="container">
  <br><br>
  <h1 class="mt-3" >Category List test</h1>
  <div class="d-flex justify-content-end mt-3">
    <a [routerLink]="['/add']" class="btn btn-primary">Add Category</a>
  </div>
</div>

<div *ngIf="loading">Loading mechanics...</div>

<div *ngIf="!loading">
  <h2>Mechanics List</h2>
  <!-- <p>📅 Current Date: {{ currentDate | date: 'fullDate' }}</p> -->

  <table border="1" cellpadding="8" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Shop Name</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mechanic of mechanics">
        <td>{{ mechanic.mechanic_name }}</td>
        <td>{{ mechanic.mechanic_shop_name }}</td>
        <td>{{ mechanic.location }}</td>
      </tr>
    </tbody>
  </table>
</div>
